<!doctype html>
<html lang="en-GB">
  <head>
    {% include head.html %}
  </head>
  <body>

    <header>
      {% include navigation.html %}
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </header>

    <main>

      {{ content }}

    </main>

    <footer>
      <p><i>Iniciando mi blog.</i> Mi twitter es <a href="https://twitter.com/evimlenx13">Evimlenx</a> Me parece gracioso poner mi tw, porque estoy haciendo esto para no tener que usarlo. <br>
    </footer>

  </body>
</html>
